.form {
	text-align: center;
	font-size: xx-large;
	width: 100vw;
	height: 100vh;
	overflow: scroll;
}

.form > * {
	margin: 3pt 0;
}

.label {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-size: 32pt;
}
.loading {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: xx-large;
}

.choiceSelect {
	padding-left: 6px;
	padding-right: 6px;
	text-transform: capitalize;
}

.textInput,
.selectInput {
	max-width: 90vw;
	height: 32pt;
	font-size: 24pt;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.textArea {
	width: 90vw;
	height: 300px;
	font-size: 20pt;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	resize: vertical;
}

.actionButton {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: "blue";
	border: "none";
	background-color: "none";
	font-size: 20pt;
}
