.form {
	padding: 10pt;
	text-align: center;
	font-size: xx-large;
}

.form > * {
	margin: 3pt 0;
}

.label {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}
.loading {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: xx-large;
}