.signin {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.signin div {
    text-align: center;
}

.button {
    background-image: url('/images/discord-icon.svg');
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    user-select: all;
    border: none;
    background-color: #999999;
    border-radius: 30px;

}
.button:hover{
    border: 1px solid black;
}

.button:active{
    background-color: #666666;
}